@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oswald);


body{
  background-image: url(orange-gradient.jpg);
  color: white;
  margin:0 auto;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 80px;
  text-align: center;
  margin-top: 200px;
}
h2{
  font-family: 'Oswald', cursive;
  font-size: 50px;
  text-align: center;

}
