@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oswald);


/*https://flatuicolors.com/*/


h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
  }


body{
  background-color: rgb(255, 134, 6);
  color: white;
  margin:0 auto;
}
.container2{
  width:500px;
  height:470px;
  text-align: center;
  background-color: rgba(243,174,15,0.5);
  border-radius: 4px;
  margin:0 auto;
  margin-top: 20px;
}

.container2 img{
  width: 130px;
  height: 130px;
  margin-top: 40px;
  margin-bottom: 30px;
}
input[type="text"]{
  height:50px;
  width:200px;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 30px;
  border-radius: 4px;
}

.glyphicon{
  font-size: 30px;
  top: 10px;
  padding-bottom:10px;
}

.button{
  margin-top: 15px;
  padding: 15px 30px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color:rgb(255, 134, 6);
  border-bottom: 4px solid #d35400;
  font-size: 18px;
  margin-bottom: 10px;

}

a{
  color: #fff;
  margin-bottom: 10px;

}
